/2023-lab04/
/2023-lab-04-redo-1/
/esame6luglio23/
/esame_26gen2023/
/is2023-lab02/
/Lab02-redo/is2023-lab02/
/is2023-lab03/
/is2023-lab06/
/is2023-lab07/
/is2023-lab09/
/is2023-lab10/
/is-2023-lab-06-redo-1/
/is-2023-lab-07-redo/
/is-2023-lab-08-redo/
/is-2023-lab-09-redo/
/is-2023-lab-10-redo/
/lab01/
/tema22/.idea/.gitignore
/tema22/build/reports/tests/test/css/base-style.css
/tema22/build/classes/java/main/it/unimi/di/sweng/briscola/Briscola$1.class
/tema22/build/tmp/compileJava/compileTransaction/stash-dir/Briscola$1.class.uniqueId2
/tema22/build/classes/java/main/it/unimi/di/sweng/briscola/Briscola.class
/tema22/build/tmp/compileJava/compileTransaction/stash-dir/Briscola.class.uniqueId1
/tema22/build/classes/java/test/it/unimi/di/sweng/briscola/BriscolaTest.class
/tema22/build/tmp/compileTestJava/compileTransaction/stash-dir/BriscolaTest.class.uniqueId0
/tema22/build.gradle
/tema22/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/tema22/.gradle/buildOutputCleanup/cache.properties
/tema22/build/classes/java/main/ca/mcgill/cs/stg/solitaire/cards/Card.class
/tema22/src/main/java/ca/mcgill/cs/stg/solitaire/cards/Card.java
/tema22/build/classes/java/main/ca/mcgill/cs/stg/solitaire/cards/CardStack.class
/tema22/src/main/java/ca/mcgill/cs/stg/solitaire/cards/CardStack.java
/tema22/.gradle/7.6/checksums/checksums.lock
/tema22/.idea/compiler.xml
/tema22/build/classes/java/main/ca/mcgill/cs/stg/solitaire/cards/Deck.class
/tema22/src/main/java/ca/mcgill/cs/stg/solitaire/cards/Deck.java
/tema22/.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
/tema22/.gradle/7.6/executionHistory/executionHistory.bin
/tema22/.gradle/7.6/executionHistory/executionHistory.lock
/tema22/.gradle/file-system.probe
/tema22/.gradle/7.6/fileHashes/fileHashes.bin
/tema22/.gradle/7.6/fileHashes/fileHashes.lock
/tema22/.gradle/7.6/dependencies-accessors/gc.properties
/tema22/.gradle/7.6/gc.properties
/tema22/.gradle/vcs-1/gc.properties
/tema22/build/classes/java/main/it/unimi/di/sweng/briscola/Giocatore.class
/tema22/build/tmp/compileJava/compileTransaction/stash-dir/Giocatore.class.uniqueId0
/tema22/build/classes/java/test/it/unimi/di/sweng/briscola/GiocatoreTest.class
/tema22/.idea/gradle.xml
/tema22/gradle/wrapper/gradle-wrapper.properties
/tema22/gradlew
/tema22/gradlew.bat
/tema22/build/reports/tests/test/index.html
/tema22/build/reports/tests/test/classes/it.unimi.di.sweng.briscola.BriscolaTest.html
/tema22/build/reports/tests/test/packages/it.unimi.di.sweng.briscola.html
/tema22/.idea/jarRepositories.xml
/tema22/.gradle/7.6/fileChanges/last-build.bin
/tema22/build/classes/java/main/it/unimi/di/sweng/briscola/MazzoBriscola.class
/tema22/build/classes/java/test/it/unimi/di/sweng/briscola/MazzoBriscolaTest.class
/tema22/.idea/misc.xml
/tema22/build/test-results/test/binary/output.bin
/tema22/build/test-results/test/binary/output.bin.idx
/tema22/.gradle/buildOutputCleanup/outputFiles.bin
/tema22/build/tmp/compileJava/previous-compilation-data.bin
/tema22/build/tmp/compileTestJava/previous-compilation-data.bin
/tema22/build/classes/java/main/ca/mcgill/cs/stg/solitaire/cards/Rank.class
/tema22/src/main/java/ca/mcgill/cs/stg/solitaire/cards/Rank.java
/tema22/README.md
/tema22/build/reports/tests/test/js/report.js
/tema22/.gradle/7.6/fileHashes/resourceHashesCache.bin
/tema22/build/test-results/test/binary/results.bin
/tema22/build/reports/tests/test/css/style.css
/tema22/build/classes/java/main/ca/mcgill/cs/stg/solitaire/cards/Suit.class
/tema22/src/main/java/ca/mcgill/cs/stg/solitaire/cards/Suit.java
/tema22/build/test-results/test/TEST-it.unimi.di.sweng.briscola.BriscolaTest.xml
/tema22/.idea/uiDesigner.xml
/tema22/.idea/vcs.xml
